<%- include('../inc/top.ejs') %>
    <script>
        function layRole() {
            role = document.getElementById("locRole").value;
            window.location = '/user/filter/'+role;
        }
        function sapXepTheoTen() {
            name = document.getElementById("sapXepTen").value;
            window.location = '/user/sort/'+name;
        }
    </script>
    <!-- Thanh Dieu khien -->
    <div class="text-center"><h3><%= msg %></h3></div>
    <div style="text-align: center;" class="row mt-4">
        <nav class="navbar col-auto">
            <div class="container-fluid">
                <form class="d-flex" role="search" action="/user/search" method="GET">
                    <input class="form-control me-2 border border-info" type="search" placeholder="Search fullname" 
                    aria-label="Search" style="width: 300px;" name="fullname" value="<%= fullname %>">
                    <button class="btn btn-outline-info" type="submit" style="width: 150px;">Tìm kiếm</button>
                </form> 
            </div>
        </nav>
        <div class="col-auto mt-2">
            <a href="/user/add">
                <button type="button" class="btn btn-outline-info" style="width: 150px;">Thêm nhân viên</button>
            </a>
        </div>
        <div class="col-auto mt-2">
            <select id="sapXepTen" onchange="sapXepTheoTen()" class="form-select border border-info" style="width: 150px;" >
                <% let noneF='' ; let S1F='' ; let S2F='' ; 
                if(typeSort=='1' ){ 
                    S1F=' selected ' ; 
                }else if(typeSort=='-1'){ 
                    S2F=' selected ' ; 
                }else{ noneF=' selected ' ; 
                } %>
                    <option <%=noneF %> value="0">Sắp xếp tên</option>
                    <option <%=S1F %> value="1">A đến Z</option>
                    <option <%=S2F %> value="-1">Z đến A</option>
            </select>
        </div>
        <div class="col-auto mt-2">
            <select id="locRole" onchange="layRole()" class="form-select border border-info" style="width: 150px;" >
                <% let noneS='' ; let S1='' ; let S2='' ; 
                if(typeFilter=='false' ){ 
                    S1=' selected ' ; 
                }else if(typeFilter=='true'){ 
                    S2=' selected ' ; 
                }else{ 
                    noneS=' selected ' ; 
                } %>
                    <option <%=noneS %> value="0">All</option>
                    <option <%=S1 %> value="false">User</option>
                    <option <%=S2 %> value="true">NhanVien</option>
            </select>
        </div>
    </div>
    <!-- bang danh sach -->
    <div class="mt-4">
        <table class="table table-bordered table-striped border border-info" style="margin-top: 15px;">
                <tr>
                    <th>STT</th>
                    <th>Avata</th>
                    <th>Họ và Tên</th>
                    <th>Tên đăng nhập</th>
                    <th>Email</th>
                    <th>Vai trò</th>
                    <th>Sửa</th>
                    <th>Xóa</th>
                </tr>
                <% listUser.forEach( (row, index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><img src="<%= row.avata %>" alt="" srcset="" width="60px" height="80px"></td>
                        <td><%= row.fullname %></td>
                        <td><%= row.username %></td>
                        <td><%= row.email %></td>
                        <% if((row.role) == true){ %>
                            <td><%= "admin"  %></td>
                        <% }else{ %>
                            <td><%= "user"  %></td>
                        <% } %>
                        <td><a href="/user/edit/<%= row._id %>"><img src="/images/edit.png" alt="" srcset="" width="50px" height="50px"></a></td>
                        <td>
                            <img src="/images/delete.png" alt="" srcset="" width="50px" height="50px" 
                                data-bs-toggle="modal" data-bs-target="#xoa<%= row._id %>">
                        </td>
                    </tr>
                    <!-- Modal -->
                    <div class="modal fade" id="xoa<%= row._id %>" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa User</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Bạn có chắc chắn xóa hay không ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Hủy</button>
                                    <a href="/user/delete/<%= row._id %>" class="btn btn-primary">Xóa</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
        </table>
    </div>
    <!-- danh muc -->
    <div class="btn-toolbar justify-content-end mt-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
            <button type="button" class="btn btn-outline-secondary">1</button>
            <button type="button" class="btn btn-outline-secondary">2</button>
            <button type="button" class="btn btn-outline-secondary">3</button>
            <button type="button" class="btn btn-outline-secondary">4</button>
            <button type="button" class="btn btn-outline-secondary">5</button>
            <button type="button" class="btn btn-outline-secondary">6</button>
        </div>
    </div>

    <%- include('../inc/bottom.ejs') %>