<%- include('../inc/top.ejs') %>

    <!-- Thanh Dieu khien -->
    <div class="text-center"><h3><%= msg %></h3></div>
    <div style="text-align: center;" class="row mt-4">
        <nav class="navbar col-auto">
            <div class="container-fluid">
                <form class="d-flex" role="search">
                    <input class="form-control me-2 border border-success" type="search" placeholder="Search"
                        aria-label="Search" style="width: 300px;">
                    <button class="btn btn-outline-success" type="submit" style="width: 150px;">Tìm kiếm</button>
                </form>
            </div>
        </nav>
        <div class="col-auto mt-2">
            <a href="/theloai/add">
                <button type="button" class="btn btn-outline-success" style="width: 150px;">Thêm thể loại</button>
            </a>
        </div>
        <div class="col-auto mt-2">
            <select class="form-select border border-success" aria-label="Default select example" style="width: 150px;">
                <option selected>Sắp xếp</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-auto mt-2">
            <select class="form-select border border-success" aria-label="Default select example" style="width: 150px;">
                <option selected>Lọc</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>
    <!-- bang danh sach -->
    <div class="mt-4">
        <table class="table table-bordered table-striped border border-success" style="margin-top: 15px;">
            <tr>
                <th>STT</th>
                <th>Mã thể loại</th>
                <th>Tên thể loại</th>
                <th>Sửa</th>
                <th>Xóa</th>
            </tr>
            <% listTL.forEach( (row, index)=> { %>
                <tr>
                    <td>
                        <%= index + 1 %>
                    </td>
                    <td>
                        <%= row._id %>
                    </td>
                    <td>
                        <%= row.name %>
                    </td>
                    <td><a href="/theloai/edit/<%= row._id %>"><img src="/images/edit.png" alt="" srcset="" 
                                width="50px" height="50px"></a></td>
                    <td><img src="/images/delete.png" alt="" srcset="" width="50px" height="50px" 
                        data-bs-toggle="modal" data-bs-target="#xoa<%= row._id %>"></td>
                </tr>
                <!--Modal -->
                <div class="modal fade" id="xoa<%= row._id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa Thể Loại</h1>
                            </div>
                            <div class="modal-body">
                                Bạn có chắc chắn xóa hay không ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                <a href="/theloai/delete/<%= row._id %>" class="btn btn-primary" type="button">Xóa</a>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
        </table>
    </div>
    <!-- danh muc -->
    <div class="btn-toolbar justify-content-end mt-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
            <button type="button" class="btn btn-outline-secondary">1</button>
            <button type="button" class="btn btn-outline-secondary">2</button>
            <button type="button" class="btn btn-outline-secondary">3</button>
            <button type="button" class="btn btn-outline-secondary">4</button>
            <button type="button" class="btn btn-outline-secondary">5</button>
            <button type="button" class="btn btn-outline-secondary">6</button>
        </div>
    </div>

    <%- include('../inc/bottom.ejs') %>