<%- include('../inc/top.ejs') %>
    <div class="text-center">
        <h3>
            <%= msg %>
        </h3>
    </div>
    <div class="card mt-4">
        <div class="row " style=" height: 500px;">
            <div class="col-6 ">
                <img src="<%= objSP.image  %>" alt="" width="600px" height="400px"
                    style="margin: 50px; border-radius: 10px;">
            </div>

            <div class=" col-6 p-5">
                <h3 class="card-title">Tên sản phẩm: <%= objSP.name %></h3>
                <h6 class="card-text">Thể Loại: <%= objSP.id_theloai.name %></h6>
                <h6 class="card-text">Giá: <%= objSP.price %> VNĐ</h6>
                <p class="card-text">Mô tả: <%= objSP.desc %>
                </p>
            </div>
        </div>
    </div>

    <%- include('../inc/bottom.ejs') %>