<%- include('../inc/top.ejs') %>

    <!-- Thêm sản phẩm -->
    <div class="card mt-4 border border-primary">
        <div class="text-center mt-4">
            <p style="color: red; font-style: italic; font-size: 28px;">
                <%= msg %>
            </p>
        </div>
        <form class="p-5" method="POST" enctype="multipart/form-data">
            <div class="row mb-3">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class=" input-group border border-primary rounded-2">
                        <input name="image" type="file" class="form-control">
                        <label class="btn btn-outline-info">Upload</label>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row mb-3">
                <div class="col-1"></div>
                <div class="col-10">
                    <select name="theloai" class="form-select border border-primary rounded-2"
                        aria-label="Default select example">
                        <option selected>Chọn thể loại</option>
                        <% listTL.forEach( (row)=> { %>
                            <option value="<%= row._id %>">
                                <%= row.name %>
                            </option>
                            <% }); %>
                    </select>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row mb-3">
                <div class="col-1"></div>
                <div class="col-10 form-floating">
                    <input type="text" class="form-control border border-primary rounded-2" id="floatingInput"
                       name="name" placeholder="Password">
                    <label class="ms-3" for="floatingInput">Tên sản phẩm</label>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row mb-3">
                <div class="col-1"></div>
                <div class="col-10 form-floating">
                    <input type="number" class="form-control border border-primary rounded-2" id="floatingInput"
                       name="price" placeholder="Password">
                    <label class="ms-3" for="floatingInput">Giá sản phẩm</label>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10 form-floating">
                    <textarea name="desc" class="form-control border border-primary rounded-2" placeholder="Nhập mô tả sản phẩm" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label class="ms-3"  for="floatingTextarea2">Mô tả sản phẩm</label>
                </div>
                <div class="col-1"></div>
            </div>

            <div class="mt-4 text-center">
                <button type="submit" class="btn btn-outline-primary"
                    style="width: 200px; height: 48px; font-size: 24px; font-weight: 500;">Save</button>
            </div>
        </form>
    </div>

    <%- include('../inc/bottom.ejs') %>